@page
@model Project_Management_System.Pages.crud.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Topic</h4>
<hr />
<div class="container2">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!-- Hidden input field for Topic ID -->
                <input id="topicIDInput" name="Topic.TopicID" type="hidden" />
                <span asp-validation-for="Topic.TopicID" class="text-danger"></span>

                <!-- Other form fields -->
                <label asp-for="Topic.TopicName" class="control-label2"></label>
                <div class="form-group">
                    <input asp-for="Topic.TopicName" class="form-control2" />
                    <span asp-validation-for="Topic.TopicName" class="text-danger"></span>
                </div>

                <label asp-for="Topic.TopicDescription" class="control-label2"></label>
                <div class="form-group">
                    <input asp-for="Topic.TopicDescription" class="form-control2" />
                    <span asp-validation-for="Topic.TopicDescription" class="text-danger"></span>
                </div>

                <label asp-for="Topic.SupervisorID" class="control-label2">Supervisor</label>
                <div class="form-group">
                    <input asp-for="Topic.SupervisorID" class="form-control2" size="10" />
                    <span asp-validation-for="Topic.SupervisorID" class="text-danger"></span>
                </div>

                <!-- "Add Topic" button -->
                <div class="form-group">
                    <button type="submit" class="button" style="vertical-align:middle" onclick="addTopic()"><span>Add Topic</span></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="button2" href="/crud/Index"><span>Back</span></a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addTopic() {
            // Generate a unique identifier for the Topic ID using JavaScript
            document.getElementById('topicIDInput').value = generateTopicID();
            // Submit the form
            document.querySelector('form').submit();
        }

        function generateTopicID() {
            // Generate a random number and concatenate with a prefix
            var randomNumber = Math.floor(Math.random() * 10000); // Generate a random number between 0 and 9999
            return randomNumber;
        }
    </script>
}
