@page
@model Project_Management_System.Pages.crud.CreateModel

<link href="~/css/addProposal.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Create";
}

<div class="body--addProposal--container">
    <span class="addTitle">Add a topic</span>

    <form method="post">
        <div class="addGroup" style="display: none;">
            <label for="topicName">TopicID</label>
            <input id="topicName" name="TopicID" asp-for="Topic.TopicID" />
        </div>

        <div class="addGroup">
            <label for="topicName">Topic Name</label>
            <input id="topicName" name="topicName" asp-for="Topic.TopicName" />
        </div>

        <div class="addGroup">
            <label for="TopicSupervisor">Topic Supervisor</label>
            <input id="TopicSupervisor" name="topicDescription" asp-for="Topic.SupervisorID" />
        </div>

        <div class="addGroup">
            <label for="topicDescription">Topic Description</label>
            <textarea id="topicDescription" name="topicDescription" asp-for="Topic.TopicDescription"></textarea>
        </div>

        <div class="addGroup">
            <button type="submit" class="addBtn">Add Topic</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function addTopic() {
            var topicIDInput = document.getElementById('topicIDInput');
            // Check if the user has already inputted a value
            if (!topicIDInput.value.trim()) {
                // Generate a unique identifier for the Topic ID using JavaScript
                topicIDInput.value = generateTopicID();
            }
            // Submit the form
            document.querySelector('form').submit();
        }

        function generateTopicID() {
            // Generate a random number and concatenate with a prefix
            var randomNumber = Math.floor(Math.random() * 10000); // Generate a random number between 0 and 9999
            return randomNumber;
        }

    </script>
}