@page
@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data
@model Project_Management_System.Pages.crud.CreateModel

<link href="~/css/addProposal.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Create";
}

@inject UserManager<SPMS_Staff> StaffManager

<div class="body--addProposal--container">
    <span class="addTitle">Add a topic</span>

    <form method="post" name="create-topic-form" autocomplete="off">
        <div class="addGroup">
            <label for="topicName">Topic Name</label>
            <input id="topicName" name="topicName" asp-for="Topic.TopicName" oninput="clearError('topicName-error')" />
            <p class="ErrorMsg topicName-error"></p>

        </div>

        <div class="addGroup">
            <label for="TopicSupervisor">Topic Supervisor</label>
            <input id="TopicSupervisor" name="topicSupervisor" asp-for="Topic.SupervisorID" />
            <select asp-for="Topic.SupervisorID">
                <option value = null>Choose supervisor here</option>
                @foreach (var staff in StaffManager.Users)
                {
                    <option value=@staff.Id>@Html.ValueFor(modelDivision => staff.Name)</option>
                }
            </select>
        </div>

        <div class="addGroup">
            <label for="topicDescription">Topic Description</label>
            <textarea id="topicDescription" name="topicDescription" asp-for="Topic.TopicDescription" oninput="clearError('topicDescription-error')"></textarea>
            <p class="ErrorMsg topicDescription-error"></p>
        </div>


        <div class="addGroup">
            <button type="submit" class="addBtn">Add Topic</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
