@page
@{
}




<script src="~/js/staffInfoBoxes.js"></script>

<h3>@ViewData["Title"]</h3> 


@{
    var user = await UserManager.GetUserAsync(User);
}

@if(user != null){
    <div class="body--profile--container">
        <div class="body--profile--name">
        </div>

        <div class="body--profile--profilePicture">
            <div class="body--profile--updatePicture">
            </div>
        </div>


        <div class="body--profile--infoSection">
            <div class="body--profile--infoGroup">
                <label for="school ">School</label>
                <div class="staffInfoBox">
                    <span name="department" class="body--profile--department">Example School</span>
                </div>
            </div>

            <div class="body--profile--infoGroup">
                <!--For each loop here to display all departments, just use one li element-->
                <ul class="departmentList">
                </ul>
            </div>

            <div class="body--profile--infoGroup">
                <label for="email">Email</label>
                <div class="staffInfoBox">
                </div>
            </div>
        </div>


        <div class="body--profile--infoBoxes">
                <button class="editInfo"></button>
                <div class="infobox--icon"></div>
                </div>
                        <div class="item-header">Example Content</div>
                    </li>
                </ul>
            </div>

                <button class="editInfo"></button>
                <div class="infobox--icon"></div>
                </div>
                        <div class="item-header">Example Content</div>
                    </li>
                </ul>
            </div>

                <button class="editInfo"></button>
                <div class="infobox--icon"></div>
                </div>
                        <div class="item-header">Example Content</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
