@page
@model Project_Management_System.Pages.AccountProfile.CoordinatorProfile
@{
}

<script src="../js/projectCoordinatorBoxes.js"></script>
<link rel="stylesheet" href="../css/staffProfile.css">
<link rel="stylesheet" href="../css/coordinatorProfile.css">

<body>
    <span class="body--coordinator--title">Project Co-ordinator</span>

    <div class="body--profile--container">
        <div class="body--profile--name">
            <span>Example Name</span>
        </div>

        <div class="body--profile--profilePicture">
            <!--Change the src to the proper byte system, keep the demoIMG for when there is no profile picture-->
            <div class="demoIMG"></div>
            <img src="#" alt="#">
            <!--Have this hidden for anyone but there profile-->
            <div class="body--profile--updatePicture">
                <button class="updateIMG"></button>
            </div>
        </div>

        <div class="body--profile--infoSection">
            <div class="body--profile--infoGroup">
                <label for="school ">School</label>
                <div class="staffInfoBox">
                    <span name="department" class="body--profile--department">Example School</span>
                </div>
            </div>

            <div class="body--profile--infoGroup">
                <label for="department">Departments</label>
                <!--For each loop here to display all departments, just use one li element-->
                <ul class="departmentList">
                    <li>Department 1</li>
                    <li>Department 2</li>
                </ul>
            </div>

            <div class="body--profile--infoGroup">
                <label for="email">Email</label>
                <div class="staffInfoBox">
                    <span name="email" class="body--profile--email">exampleEmail@example.com</span>
                </div>
            </div>
        </div>

        <!--Just modify the spans inside the "contentContainer" to suit your needs-->
        <div class="body--coordinator--infoBoxes">
            <div class="infoBoxCoordinator">
                <span class="boxTitle">Student Project Submissions</span>
                <button class="expandBtn">
                    <div class="expandIcon"></div>
                </button>
                <div class="coordinatorContent">
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam quibusdam aut laudantium minus quod, odit autem? Porro dignissimos quasi dolor ipsum sit voluptatibus eaque, ratione optio sint maiores nesciunt.</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur modi ipsa autem saepe asperiores sed corrupti ex laboriosam rem veniam reiciendis adipisci sequi, tempore natus fuga itaque repudiandae placeat rerum?</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate eligendi in quibusdam sed fugiat expedita veritatis nulla enim harum aliquid officiis fuga, laborum autem doloribus illo quos, ipsam neque reiciendis.</span>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="infoBoxCoordinator">
                <span class="boxTitle">Staff Members</span>
                <button class="expandBtn">
                    <div class="expandIcon"></div>
                </button>
                <div class="coordinatorContent">
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam quibusdam aut laudantium minus quod, odit autem? Porro dignissimos quasi dolor ipsum sit voluptatibus eaque, ratione optio sint maiores nesciunt.</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur modi ipsa autem saepe asperiores sed corrupti ex laboriosam rem veniam reiciendis adipisci sequi, tempore natus fuga itaque repudiandae placeat rerum?</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate eligendi in quibusdam sed fugiat expedita veritatis nulla enim harum aliquid officiis fuga, laborum autem doloribus illo quos, ipsam neque reiciendis.</span>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="infoBoxCoordinator">
                <span class="boxTitle">Staff / Supervisor Pairings</span>
                <button class="expandBtn">
                    <div class="expandIcon"></div>
                </button>
                <div class="coordinatorContent">
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam quibusdam aut laudantium minus quod, odit autem? Porro dignissimos quasi dolor ipsum sit voluptatibus eaque, ratione optio sint maiores nesciunt.</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur modi ipsa autem saepe asperiores sed corrupti ex laboriosam rem veniam reiciendis adipisci sequi, tempore natus fuga itaque repudiandae placeat rerum?</span>
                    </div>
                    <div class="contentContainer">
                        <span class="contentTitle">Topic Title</span>
                        <span class="contentDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate eligendi in quibusdam sed fugiat expedita veritatis nulla enim harum aliquid officiis fuga, laborum autem doloribus illo quos, ipsam neque reiciendis.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>