<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Management_System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <header class="header--standard">
        <div id="sidebar">
            <div class="header--sidebar--header">
                <button class="header--sidebar--userAccount">Example User</button>
            </div>
            <ul>
                <!--Change the asp pages and the titles to what you want/add more by copy and pasting the 'li' elements-->
            <div class="header--sidebar--section">
              <li asp-pge="#">Home</li>
            </div>

            <div class="header--sidebar--section">
                <li asp-pge="#">About</li>
            </div>

            <div class="header--sidebar--section">
                <li asp-pge="#">Contact</li>
            </div>

            </ul>
            <div class="header--hamburger--uocLogo"></div>
          </div>

          <div>
            <button class="hamburgerButton" id="toggle">
                <div class="hamburgerLine"></div>
                <div class="hamburgerLine"></div>
                <div class="hamburgerLine"></div>
            </button>
          <div>

        <div class="header--divider--desktop"></div>

        <!--Change the target to the index-->
        <a asp-page="#">
            <div class="header--uocLogo--standard"></div>
        </a>


        <!--Obviously this will need an if statement and a retrieval of the username or the student name-->
        <div class="header--userAccount--standard">
            <button  asp-page="#" type="button" class="header--accountBtn">username</button>
            <a class="header--userPanel" asp-page="#"></a>
            <!--remove the style display none for implementation, replace with the if else for logged in account-->
            <button asp-page="#" type="button" class="header--accountBtn" style="display: none;">Create an account</button>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Project_Management_System - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>