@inject SignInManager<SPMS_User> SignInManager
@inject UserManager<SPMS_User> UserManager

@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Management_System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
   <header class="header--standard">
        <div id="sidebar">
            <div class="header--sidebar--header">
                <button class="header--sidebar--userAccount">Example User</button>
            </div>
            <ul>
             <!--Change the asp pages and the titles to what you want/add more by copy and pasting the 'li' elements-->
            <div class="header--sidebar--section">
                <a asp-area="" asp-page="/Index">
                    <li>Home</li>
                </a>
            </div>
            <div class="header--sidebar--section">
                <a asp-area="" asp-page="/Submit_Proposal">
                    <li>Submit Proposal</li>
                </a>
            </div>

            </ul>
            <div class="header--hamburger--uocLogo"></div>
          </div>

          <div>
            <button class="hamburgerButton" id="toggle">
                <div class="hamburgerLine"></div>
                <div class="hamburgerLine"></div>
                <div class="hamburgerLine"></div>
            </button>
          <div>

        <div class="header--divider--desktop"></div>

        <!--Change the target to the index-->
        <a asp-page="/Index">
            <div class="header--uocLogo--standard"></div>
        </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="header--userAccount--standard">
                        <button type="button" class="header--accountBtn">
                            @{
                                var user = await UserManager.GetUserAsync(User);
                            }
                            @(user.Name)<!-- Greet user by there name rather than username -->
                        </button>
                        <div class="dropdown-menu" style="display: none;">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Profile</a>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                <a>Logout</a>
                            </form>
                            
                        </div>
                        
                    </div>
                }
                else
                {
                    <div class="header--userAccount--standard">
                        <!-- Hidden account button, show as needed -->
                        <a asp-area="Identity" asp-page="/Account/Login" class="header--accountBtn">Login</a>
                    </div>

                }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer--standard">
        <ul class="footer--ul">
            <!--add the hrefs to the portal and Moodle-->
            <a href="https://apps.chester.ac.uk/v2apps/moodle">
                <li class="footer--li">Moodle</li>
            </a>
            <a href="https://portal1.chester.ac.uk/Pages/default.aspx">
                <li class="footer--li">Portal</li>
            </a>
            <a href="/crud/Index">
            <li class="footer--li">Browse Topics</li>
            </a>
            </a>
            <a href="/crud/Create">
            <li class="footer--li">Browse Topics</li>
            </a>
            
        </ul>
        <!--same again for this section with the username-->
        <div class="footer--userAccount">
            <span class="footter--userAccont--username">You are currently logged in as: username</span>
        </div>
    </footer>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>