@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/loginRegister.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/loginRegisterToggler.js"></script>
</head>

<div class="body--login--container">
    <div class="body--login--uocContainer">
        <div class="body--login--uocLogo"></div>
    </div>

    <form class="loginForm" method="post">
        @{
            ModelState.Clear();
        }
        <input asp-for="LoginInput.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
        <input asp-for="LoginInput.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />

        <div class="body--loginForm--checkboxContainer">
            <label asp-for="LoginInput.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="LoginInput.RememberMe" />
                @Html.DisplayNameFor(m => m.LoginInput.RememberMe)
            </label>
        </div>

        <a asp-page="./ForgotPassword" id="forgot-password">Forgotten your username or password?</a>
        <button id="login-submit" type="submit" class="body--login--submitButton" asp-page-handler="Login">Login</button>
        <div asp-validation-summary="ModelOnly" class="body--register--errorMessage"></div>
    </form>

    <div class="body--register--staffToggler" style="display: none;">
        <button class="studentBtn">Student</button>
        <span> / </span>
        <button class="staffBtn">Staff</button>
    </div>

    <form class="registerForm" method="post" style="display: none;">
        @{
            ModelState.Clear();
        }
        <input asp-for="RegisterInput.FirstName" placeholder="Your first Name" required>
        <input asp-for="RegisterInput.Surname" placeholder="Your last Name" required>

        <!--Student Number has a max length of 7 for the input field, may need changing for requirements-->
        <input asp-for="RegisterInput.StudentID" placeholder="Your Student Number" maxlength="7" required>
        <input asp-for="RegisterInput.Email" placeholder="name@example.com" required>
        <input asp-for="RegisterInput.Password" placeholder=" New Password" required>
        <input asp-for="RegisterInput.ConfirmPassword" placeholder="Confirm Password" required>

        <button id="registerSubmit" type="submit" class="body--register--submitButton" asp-page-handler="Register">Register</button>
        <div asp-validation-summary="ModelOnly" class="body--register--errorMessage"></div>
    </form>

    <form class="registerFormStaff" method="post" style="display: none;">
        @{
            ModelState.Clear();
        }
        <input asp-for="StaffRegisterInput.FirstName" placeholder="Your first Name" required>
        <input asp-for="StaffRegisterInput.Surname" placeholder="Your last Name" required>

        <select asp-for="StaffRegisterInput.School" name="newSchool" id="newSchool" placeholder="Select your School..." required>
      W
            <option value="null"></option>
            @foreach (var school in Model.School)
            {
                <option value="@Html.ValueFor(modelSchool => school.SchoolID)">@Html.ValueFor(modelSchool => school.SchoolName)</option>
            }
        </select>

        <select asp-for="StaffRegisterInput.DivisionID" name="newDivision" id="newDepartment" placeholder="Select your Department..." required>
            <option value="null"></option>
            
           

        </select>

        <form method="post" asp-action="AddToArray">
            <input type="text" name="value" required />
            <button type="submit">Add to array</button>
        </form>

        
        <input asp-for="StaffRegisterInput.Email" placeholder="name@example.com" required>
        <input asp-for="StaffRegisterInput.Password" placeholder=" New Password" required>
        <input asp-for="StaffRegisterInput.ConfirmPassword" placeholder="Confirm Password" required>

        <button id="StaffRegisterSubmit" type="submit" class="body--register--submitButton" asp-page-handler="StaffRegister">Register</button>
        <div asp-validation-summary="ModelOnly" class="body--register--errorMessage"></div>
    </form>


    <div class="body--register--newUserToggler">
        <span class="body--login--newUser">New here? Register below: </span>
        <button class="body--register--inputToggle">Register</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
