@page
@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data
@model Project_Management_System.Pages.CreateModel

<link href="~/css/addProposal.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Create";
}

@inject UserManager<SPMS_Staff> StaffManager

<div class="body--addProposal--container">
    <span class="addTitle">Add a topic</span>

    <form method="post">
        <div class="addGroup">
            <label for="topicName">Topic Name</label>
            <input id="topicName"asp-for="Topic.TopicName" />
        </div>
        @if (User.IsInRole("Co-ordinator"))
        {
            <div class="addGroup">
                <label for="TopicSupervisor">Topic Supervisor</label>
                <select asp-for="Topic.SupervisorID">
                    <option value=null>Choose supervisor here</option>
                    @foreach (var staff in StaffManager.Users)
                    {
                        <option value=@staff.Id>@staff.Name</option>
                    }
                </select>
            </div>

            <div class="addGroup">
                <label for="TopicMarker">Topic Marker</label>
                <select asp-for="Topic.MarkerID">
                    <option value=null>Choose marker here</option>
                    @foreach (var staff in StaffManager.Users)
                    {
                        <option value=@staff.Id>@staff.Name</option>
                    }
                </select>
            </div>
        }
       
        <div class="addGroup">
            <label for="TopicCourse">Topic Course</label>
            <select asp-for="CourseTopic.CourseID">
                <option value= "">Choose course here</option>
                @foreach (var course in Model.Course)
                {
                    <option value=@course.CourseID>@course.CourseName</option>
                }
            </select>
        </div>

        <div class="addGroup">
            <label for="topicDescription">Topic Description</label>
            <textarea id="topicDescription" asp-for="Topic.TopicDescription"></textarea>
        </div>

        <div class="addGroup">
            <button type="submit" class="addBtn">Add Topic</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@*     <script>
        function addTopic() {
            var topicIDInput = document.getElementById('topicIDInput');
            // Check if the user has already inputted a value
            if (!topicIDInput.value.trim()) {
                // Generate a unique identifier for the Topic ID using JavaScript
                topicIDInput.value = generateTopicID();
            }
            // Submit the form
            document.querySelector('form').submit();
        }

        function generateTopicID() {
            // Generate a random number and concatenate with a prefix
            var randomNumber = Math.floor(Math.random() * 10000); // Generate a random number between 0 and 9999
            return randomNumber;
        }

    </script> *@
