@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/browseTopics.css">
<script src="~/js/listBoxExpansion.js"></script>

<form method="get" class="body--search--container">
    <input type="text" name="Search" placeholder="Search for a topic">
    <button type="submit"></button>
</form>





    <div class="body--Topics--container">
        @foreach (var topic in Model.Topic)
        {
            <div class="topicBox">
                <span class="topicTitle">@topic.TopicName</span>

                <div class="SupervisorGroup">
                    <span class="topicSupervisor">Example Supervisor</span>
                    <div class="supervisorIcon"></div>
                </div>

                <div class="topicDescription">@topic.TopicDescription</div>

                <div class="topicButtonContainer">
                    <button class="expandTopic">
                        <div class="expandIcon"></div>
                    </button>
                    <!--adjust the form as needed-->
                    <form method="post">
                        <button type="submit" class="addTopic">
                            <div class="addIcon"></div>
                        </button>
                    </form>
                </div>
            </div>
        }
    </div>