@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject UserManager<SPMS_Staff> StaffManager

@using Microsoft.AspNetCore.Identity
@using Project_Management_System.Data

<link rel="stylesheet" href="~/css/browseTopics.css">
<script src="~/js/listBoxExpansion.js"></script>

<body>
    <form method="post" class="body--search--container">
        <input type="text" name="searchbar" placeholder="Search for a topic">
        <button for="searchbar" asp-page-handler="Search"></button>
    </form>

    <div class="body--Topics--container">
        @foreach (var topic in Model.Topic)
        {
            <div class="topicBox">
                <span class="topicTitle">@topic.TopicName</span>
                @if (topic.SupervisorID != null)
                {
                    var staff = await StaffManager.FindByIdAsync(topic.SupervisorID);
                    <div class="SupervisorGroup">
                        <span class="topicSupervisor">@staff.Name</span>
                        <div class="supervisorIcon"></div>
                    </div>
                }
               

                <div class="topicDescription">@topic.TopicDescription</div>

                <div class="topicButtonContainer">
                    <button class="expandTopic">
                        <div class="expandIcon"></div>
                    </button>
                    <!--adjust the form as needed-->
                    @if (User.IsInRole("Student"))
                    {
                        <form method="post">
                            <button type="submit" class="addTopic" asp-page-handler="Add" asp-route-topicID="@topic.TopicID">
                                <div class="addIcon"></div>
                            </button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>

</body>