@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web application is still in development. Please report any core functionality bugs on Issue board on GitLab.</p>
</div>

<div class="text-center">
    <h2 class="display-4">Topics</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var tblTopic in Model.Topic)
            {
                <tr>
                    <td>@tblTopic.TopicName</td>
                    <td>@tblTopic.TopicDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h2>Search</h2>
<form method="post">
    <div>Search <input asp-for="Search"/></div>
    <button type="submit" asp-page-handler="Search">Submit</button>
</form>
